.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/*.map
**/*.ts
.github/**
build/**
webviews/**
.gitignore
**/tsconfig*.json
*.tsbuildinfo
yarn.lock
**/*.map
**/*.ts
*.vsix
**/*.bak
.vscode-clean/**
.vscode-test-web/**
.yarn/**
emoji/**
images/docs/gitlens-preview.gif
images/originals/**
patches/**
.eslintcache
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc
esbuild.js
tsconfig*.tsbuildinfo
webpack.config*.js