.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/*.map
**/*.ts
.github
build/**
webviews/**
.gitignore
**/tsconfig*.json
*.tsbuildinfo
yarn.lock
**/*.map
**/*.ts
*.vsix
**/*.bak